.p1 span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    background-color: tomato;
    color: white;
  }
 
  
  .p1 li {
    display: inline;
    padding: 10px 20px 10px 20px ;
    font-family: roboto;
    color: rgb(255, 255, 255);
    
  }
  




  .p1 i{
    padding-right: 10px;
  }



  .p2 span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    background-color: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
    border-bottom: 1px solid gray;
  }

  .p2 li {
    display: inline;
    padding: 10px 20px 10px 20px ;
    border-left: 1px solid black;
    border-color: rgb(14, 14, 14);
    background-color: rgba(255, 255, 255, 0.3);
    font-family: roboto;
    color: rgb(44, 44, 44);
    
  }

  .p2 li:hover{
    background-color: rgb(0, 0, 0 );
    color: white !important;
  }

  .p2 i{
    padding-right: 10px;
  }